# General
.DS_Store
*.bak
*.swp
*.log
*.tmp
*.lock
*.suo
*.user
*.cache

# FreeCAD
*.FCStd1
*.FCStd2
*.FCBak
*.tmp

# KiCad
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*-save.pro
*-save.kicad_pcb
*-save.kicad_sch
*-save.kicad_wks
.autosave-*
*.swp
*.swx
*.000
*.bak
*.bck
*.backup
*.sav
*.plg
*.gbr_job

# Arduino
*.o
*.elf
*.hex
*.eep
*.fuse
*.lock
*.map
*.sym
*.lss
*.zip
*.tar.*
*.swp
*.dmp
*.bin
*.dat
*.su
*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

